body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row{
  margin-left: 10%;
  margin-right: 10%;
}

main{
  padding-bottom: 40px;
}

.error{
  text-align: center;
  background: #e24141;
  padding: 12px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.chart-container{
  height:75vh;
}

.controls .MuiTextField-root{
  margin-right: 26px;
}